.details {
    padding: 35px 40px;
    margin-bottom: 0;
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px !important;
    transition: all 0.2s;

    &:hover{
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    }

    .message {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            padding: 0 20px;
            text-align: center;
            margin: 0;
        }
    }

    .content {
        width: 100%;

        .error_message {
            width: 100%;

            img {

                &:hover {
                    box-shadow: none;
                    transform: scale(1);
                }
            }
        }
    }

    .planet {
        min-width: 200px;
        width: 200px;
        min-height: 200px;
        height: 200px;
    }

    .starship {
        min-width: 300px;
        width: 300px;
        min-height: 200px;
        height: 200px;

        @media (max-width: 1199px) {
            min-width: 250px;
            width: 250px;
            min-height: 160px;
            height: 160px;
        }
    }

    .person {
        min-width: 200px;
        width: 200px;
        min-height: 275px;
        height: 275px;

        @media (max-width: 991px) {
            min-width: 175px;
            width: 175px;
            min-height: 210px;
            height: 210px;
        }
    }

    img {
        border-radius: 20px;
        transition: all 0.2s;
        object-fit: cover;

        &:hover {
            z-index: 10;
            transform: scale(1.1);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
        }

        @media (max-width: 991px) {
            margin-bottom: 30px;
        }

        @media (max-width: 767px) {
            margin-bottom: 20px;
        }
    }

    @media (max-width: 1199px) {
        padding: 30px 35px;
    }

    @media (max-width: 991px) {
        height: 100%;
        flex-direction: column;
    }

    @media (max-width: 767px) {
        padding: 20px;
    }
}