.description {
    z-index: 0;

    h2 {
        text-align: center;
        margin: 0 0 20px 0;
        color: #09D3AC;

        @media (max-width: 991px) {
            font-size: 30px;
        }
    }

    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .list-group-flush {
        min-width: 250px;
        width: auto;
        max-height: 100%;
        height: auto;
        overflow-y: scroll;
        overflow-x: hidden;

        li {
            width: 100%;

            .term {
                color: #09D3AC;
            }
        }
    }

    @media (max-width: 991px) {
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}