.description {
    z-index: 0;

    h2 {
        margin: 0 15px 30px 15px;
        color: #09D3AC;
    }

    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .list-group-flush {
        min-width: 250px;
        width: auto;
        max-height: 100%;
        height: auto;
        overflow-y: scroll;
        overflow-x: hidden;

        li {
            width: 100%;

            .term {
                color: #09D3AC;
            }
        }
    }
}