@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .upper_section {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        height: auto;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    .bottom_section {
        margin: 0 0 20px 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;

        .left_part {
            padding-right: 10px;
            width: 30%;
        }

        .right_part {
            padding-left: 10px;
            width: 70%;
        }
    }
}