@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;

    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: #09D3AC;
    }

    ::-webkit-scrollbar-thumb:hover {
        cursor: pointer;
        background: #09AB8C;
    }
}

html, body {
    user-select: none;
    overflow-x: hidden !important;
}

body {
    margin-top: 100px;
    padding-top: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .upper_section {
        width: 100%;
        height: auto;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    .bottom_section {
        margin: 20px 0 20px 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        height: auto;

        ::-webkit-scrollbar {
            width: 5px;
            height: 5px;
        }

        .left_part {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding-right: 10px;
            width: 30%;
            min-height: 300px;
            height: 450px;

            ::-webkit-scrollbar-track {
                margin-top: 20px;
                margin-bottom: 20px;
                background: transparent;
            }
            
            @media (max-width: 991px) {
                height: 500px;
                width: 40%;
            }
        }

        .right_part {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding-left: 10px;
            width: 70%;
            height: 450px;

            @media (max-width: 991px) {
                height: 500px;
                width: 60%;
            }
        }
    }
}

.bottom_moved {
    margin-top: 0 !important;
}

.moved {
    height: 440px !important;
}